@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Luckiest+Guy&display=swap");

.mainLogo {
    font-family: "Luckiest Guy", cursive;
}

#pawLogo {
    width: 100px;
    height: 100px;
}

.logoParag {
    font-family: "Gloria Hallelujah", cursive;
}

.formField {
}

.errorMsg {
    color: red;
    font-family: "Arial";
    font-style: oblique;
}

.profilePic {
    width: 150px;
    height: 150px;
}

.boxUploader {
    border: solid 5px red;
    background: pink;
    width: 450px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
