@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css?family=Acme|Gamja+Flower&display=swap");

/* Celeste     #a9eee6
Crema       #fefaec
Rojo        #f38181
Marron      #625772 */

*  {
}

a:link {
    text-decoration: none;
}

body {
    margin: 0;
    background: #fefaec;
}

/* ///////////////////////////////// Wrapper login and register masks */

.wrapperCont {
    display: inline-flex;
    height: 100vh;
    align-items: center;
    background: #a9eee6;
    margin: 0;
}

.wrapperLogo {
    width: 50vw;
    height: auto;
}

.registLoginMasks {
    width: 50vw;
    height: auto;
}

/* ///////////////////////////////// Main logo for register and login masks */

.mainLogo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.textLogo {
    font-family: "Luckiest Guy", cursive;
    font-size: 50px;
    height: auto;
    width: 500px;
    margin: 0;
}
#gang {
    text-align: right;
}

#pawLogo {
    width: 300px;
    height: 300px;
}

#paragLogo {
    font-family: "Gloria Hallelujah", cursive;
    align-self: flex-end;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menuHeader {
    font-family: "Luckiest Guy", cursive;
    font-size: 20px;
    color: black;
    height: auto;
    margin: 40px;
    letter-spacing: 1px;
}

/* ///////////////////////////////s///////// Login and registration masks */

.formBody {
    margin-left: 120px;
}

.formElement {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 250px;
    margin: 10px;
}

.label {
    width: 100px;
    font-family: "Noto Sans HK", sans-serif;
}

.formField {
    background: #e1f9f6;
    width: 180px;
    border: transparent;
    border-radius: 5px;
    height: 25px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.submitButton {
    font-family: "Noto Sans HK", sans-serif;
    font-weight: bolder;
    height: auto;
    width: 80px;
    margin: 5px;
}

.loginLink {
    font-family: "Noto Sans HK", sans-serif;
    margin: 5px;
    text-decoration: none;
}

.errorMsg {
    color: red;
    font-family: "Arial";
    font-style: oblique;
    margin: 0;
    padding: 0;
}

/* ////////////////////////////////////////////// Header */

.headerContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background: #a9eee6;
    width: 100vw;
    height: 170px;
}

.headerLogo {
    margin-left: 10px;
    margin-top: 10px;
    height: 140px;
}

.textHeaderLogo {
    margin: 5px;
    width: 100px;
    font-family: "Luckiest Guy", cursive;
}

#pawHeaderLogo {
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

.headerPicContainer {
    margin-right: 10px;

    width: 130px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.headerPic {
    height: 100px;
    width: 100px;
    border: transparent;
    border-radius: 50%;
}

.headerMessage {
    font-family: "Luckiest Guy", cursive;
    margin: 5px;
}

/* /////////////////////////////////////////// Profile  */

.profileContainer {
    background: #fefaec;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 75vh;
}

.profilePicContainer {
    width: 27vw;
    min-height: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f38181;
    border: transparent;
    border-radius: 10px;
    margin-right: 25px;
}

.profilePic {
    width: 200px;
    height: auto;
    margin-top: 15px;
}

.nameProfPic {
    font-family: "Acme", sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    margin-top: 15px;
}

/* ////////////////////////////////////// Bio text  profile */

.bioContainer {
    width: 55vw;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bioInsideContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bioTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bioTextArea {
    background: #62577296;
    font-family: "Gamja Flower", cursive;
    font-size: 20px;
    width: 630px;
    height: 166px;
    border: transparent;
    border-radius: 10px;
}

.bioText {
    background: #625772;
    color: white;
    font-family: "Gamja Flower", cursive;
    border: transparent;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    width: 100%;
    height: auto;
    margin: 0;
}

#saveBio {
    width: 100px;
    font-family: "Noto Sans HK", sans-serif;
    font-weight: bolder;
    height: 25px;
    background: #f38181;
    margin: 5px;
    border-radius: 5px;
    border: transparent;
}

.otherProfBio {
    width: 90%;
}

/* ////////////////////////////////////////    Chat windows */

.onlineTitle {
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    font-size: 25px;
    color: #f38181;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: greenyellow;
    border-radius: 50%;
    margin: 10px;
}

.onlineUsers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 27vw;
    overflow-y: scroll;
}

.onlineUser {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.onlineProfilePic {
    height: 120px;
    width: 100px;
    border-radius: 5px;
}

.onlineName {
    font-family: "Acme", sans-serif;
    font-size: 25px;
    margin-left: 15px;
}

.chatsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 75vh;
    width: 100vw;
}

.chatWindow {
    margin: 0;
    overflow-y: scroll;
    /* position: fixed; */
    /* right: 10%;
    top: 42%; */
    background: #a9eee682;
    background-size: 100%;
    height: 100%;
    border: transparent;
    border-radius: 5px;
    width: 40vw;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatWindow2 {
    margin-top: 10px;
}

.noChatMsg {
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    font-size: 25px;
    color: black;
}

.privChats {
    width: 34vw;
    background: #f38181a1;
    margin-top: 0;
}

.privChatWindow {
    margin: 0;
    margin-top: 10px;
    overflow-y: scroll;
    position: fixed;
    /* right: 10%;
    top: 42%; */
    background: #f38181a1;
    background-size: 100%;
    height: 75%;
    border: transparent;
    border-radius: 5px;
    width: 34vw;
    z-index: 50;
}

.chatPicName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.chatProfilePic {
    height: 30px;
    width: 25px;
    border-radius: 5px;
    margin-left: 15px;
}

.chatName {
    margin: 0;
    margin-left: 10px;
    font-family: "Acme", sans-serif;
}

.chatText {
    font-family: "Noto Sans HK", sans-serif;
    margin: 10px;
}

.chatDate {
    font-family: "Noto Sans HK", sans-serif;
    font-size: 10px;
    font-weight: bolder;
    font-style: italic;
    text-align: right;
    margin: 10px;
}

.chatInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.chatTextArea {
    border-radius: 5px;
    border: transparent;
    margin: 15px;
    width: 60%;
    font-family: "Noto Sans HK", sans-serif;
    margin: 10px;
}
.boxUploader {
    width: 450px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: #a9eee6;
    border: transparent;
    border-radius: 10px;
    font-family: "Noto Sans HK", sans-serif;
}

#closeUploader {
    margin: 0;
    margin-right: 20px;
    align-self: flex-end;
}

.boxUploader h3 {
    margin-top: 0;
}

/* ////////////////////////////////////// Profile buttons */

.editAddBioButton {
    font-family: "Noto Sans HK", sans-serif;
    font-weight: bolder;
    height: 25px;
    width: 80px;
    margin: 5px;
    margin-bottom: 25px;
    background: #f38181;
    border-radius: 5px;
    border: transparent;
}

.deleteLogContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
}

#deleteProfButton {
    width: 100px;
    font-family: "Noto Sans HK", sans-serif;
    font-weight: bolder;
    height: 25px;
    background: #f38181;
    margin: 5px;
    border-radius: 5px;
    border: transparent;
}

#logoutProfButton {
    width: 100px;
    font-family: "Noto Sans HK", sans-serif;
    font-weight: bolder;
    height: 25px;
    background: #f38181;
    margin: 5px;
    border-radius: 5px;
    border: transparent;
}

.addFriendButton {
    width: 106px;
    font-family: "Noto Sans HK", sans-serif;
    font-weight: bolder;
    height: 41px;
    background: #f38181;
    margin: 5px;
    margin-top: 31px;
    border-radius: 5px;
    border: transparent;
}

/* /////////////////////////////////////// Uploader popup */

.overlay {
    margin: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-size: 100%;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    z-index: 50;
    display: fixed;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxUploader {
    width: 450px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: #a9eee6;
    border: transparent;
    border-radius: 10px;
    font-family: "Noto Sans HK", sans-serif;
}

#closeUploader {
    margin: 0;
    margin-right: 20px;
    align-self: flex-end;
}

.boxUploader h3 {
    margin-top: 0;
}

/* /////////////////////////////////// People finder page */

.findPeopleContainer {
    background: #fefaec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friendsPageButton {
    background: #a9eee6;
}

.friendsPageContainer {
    display: inline-flex;
    flex-wrap: wrap;
}
